@model Gicco.Module.Catalog.ViewModels.ProductThumbnail

@using Gicco.Module.Core.Models

@inject SignInManager<User> SignInManager

<li>
    <div class="left-block">
        <a href="~/@Model.Slug">
            <img class="img-responsive" alt="@Model.Name" src="@Model.ThumbnailUrl" />
        </a>
        <div class="quick-view">
            <form class="inline">
                <input type="hidden" name="productId" value="@Model.Id" />
                <input type="hidden" class="quantity-field" value="1">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a title="@Localizer["Add to my wishlist"]" class="heart add-to-wishlist" href="#"></a>
                }
                <a title="@Localizer["Add to compare"]" class="compare add-to-comparison" href="#"></a>
                <a title="@Localizer["Quick view"]" data-productid="@Model.Id" class="search" href="#"></a>
            </form>
        </div>
        <div class="add-to-cart">
            <form class="inline">
                <input type="hidden" name="productId" value="@Model.Id" />
                <input type="hidden" class="quantity-field" value="1">
                <a class="btn-add-cart" title="@Localizer["Add to Cart"]" href="javascript:void(0);">@Localizer["Add To Cart"]</a>
            </form>
        </div>
    </div>
    <div class="right-block">
        <h5 class="product-name"><a href="~/@Model.Slug">@Model.Name</a></h5>
        <div class="content_price">
            <span class="price product-price">@Model.Price.ToString("c0")</span>
            @if (Model.OldPrice != null)
            {
                <span class="price old-price">@Model.OldPrice.Value.ToString("c0")</span>
            }
        </div>
        <div class="product-star">
            <gicco-rating-star rating-avg="@Model.RatingAverage"></gicco-rating-star>
        </div>
    </div>
</li>
