@model DefaultAddressViewComponentVm

<div>
    @if (Model.Address != null)
    {
        <p class="mt-10">
            <strong>@Model.Address.ContactName </strong><br/>
            @Model.Address.AddressLine1 <br/>
            @Model.Address.DistrictName, @Model.Address.StateOrProvinceName <br/>
            @Model.Address.Phone
        </p>
    }
    else
    {
        <p class="mt-10">
            @Localizer["You don't have any default address"]
        </p>
    }
    <p class="text-left mt-10 mb-10">
        <a class="btn btn-outline-secondary" href="~/user/address">@Localizer["Manage address"]</a>
    </p>
</div>
