<li>
    <div class="product-container">
        <div class="left-block">
            <a href="~/@Model.Slug">
                <img class="img-responsive" alt="@Model.Name" src="@Model.ThumbnailUrl" />
            </a>
            <div class="quick-view">
                <form class="inline">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <input type="hidden" class="quantity-field" value="1">
                    <a title="@Localizer["Add to my wishlist"]" class="heart add-to-wishlist" href="#"></a>
                    <a title="@Localizer["Add to compare"]" class="compare add-to-comparison" href="#"></a>
                    <a title="@Localizer["Quick view"]" data-productid="@Model.Id" class="search" href="#"></a>
                </form>                
            </div>
            <div class="add-to-cart">
                <form class="inline">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <input type="hidden" class="quantity-field" value="1">
                    <a class="btn-add-cart" title="@Localizer["Add to Cart"]" href="javascript:void(0);">@Localizer["Add To Cart"]</a>
                </form>
            </div>
        </div>
        <div class="right-block">
            <h5 class="product-name"><a href="~/@Model.Slug">@Model.Name</a></h5>

            @if (Model.RatingAverage != null)
            {
                <div class="product-star">
                    @for (var i = 1; i <= Model.RatingAverage; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </div>
            }

            <div class="content_price">
                @if (Model.IsCallForPricing)
                { 
                    @Localizer["Call for pricing"]
                }
                else
                {
                    <span class="price product-price">
                        @Model.CalculatedProductPrice.Price.ToString("C0")
                    </span>

                    if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                    {
                        <span title="@Localizer["Saving"] -@(Model.CalculatedProductPrice.PercentOfSaving)%" class="price old-price">@Model.CalculatedProductPrice.OldPrice.ToString("C0")</span>
                    }
                }

            </div>
            <div class="info-orther">
                <p>SKU: #@(!string.IsNullOrEmpty(Model.Sku) ? Model.Sku : Localizer["Updating..."])</p>
                <p class="availability">@Localizer["Availability"]: <span>@(Model.StockQuantity != null ? Localizer["In Stock"] : Localizer["Out of stock"])</span></p>
                <div class="product-desc">
                    @Html.Raw(Model.ShortDesc)
                </div>
            </div>
        </div>
    </div>
</li>
