<!-- block category -->
<div class="block left-module">
    <p class="title_block">@Localizer["Your account"]</p>
    <div class="block_content">
        <!-- layered -->
        <div class="layered layered-category">
            <div class="layered-content">
                <ul class="tree-menu">
                    <li><span></span><a href="~/user">@Localizer["Account Dashboard"]</a></li>
                    <li><span></span><a href="~/user/info">@Localizer["Account Information"]</a></li>
                    <li><span></span><a href="~/user/address">@Localizer["Address Book"]</a></li>
                    <li><span></span><a href="~/user/order-history">@Localizer["Order History"]</a></li>
                    <li><span></span><a href="~/user/wishlist">@Localizer["Wish List"]</a></li>
                </ul>
            </div>
        </div>
        <!-- ./layered -->
    </div>
</div>
<!-- ./block category  -->
