@using System.Globalization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
    <link gicco-append-version="true" rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/jquery.bxslider/jquery.bxslider.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/owl.carousel/owl.carousel.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/jquery-ui/jquery-ui.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/fancyBox/jquery.fancybox.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/animate.css" />
    <link gicco-append-version="true" href="~/themes/GiccoStore/css/bootstrap-dropdownhover.min.css" rel="stylesheet" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/reset.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/style.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/smoothproducts/css/smoothproducts.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/countdown/jquery.countdown.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/responsive.css" />


    <title>@ViewData["Title"] - Gicco</title>
    @RenderSection("additionalMeta", false)
    @RenderSection("head", required: false)
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery/jquery.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/countdown/jquery.plugin.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/countdown/jquery.countdown.min.js"></script>
    <script gicco-append-version="true" src="~/lib/angular/angular.js"></script>
    <script gicco-append-version="true" src="~/modules/shoppingcart/shoppingcart-list.js"></script>
    <script gicco-append-version="true" src="~/modules/shoppingcart/shoppingcart-service.js"></script>
</head>
<body class="home" ng-app="gicco.shoppingCart" ng-controller="shoppingCartListCtrl as vm" ng-cloak>
    <!-- TOP BANNER -->
    <!--<div id="top-banner" class="top-banner">
        <div class="bg-overlay"></div>
        <div class="container">
            <h1>Special Offer!</h1>
            <h2>Additional 40% OFF For Men & Women Clothings</h2>
            <span>This offer is for online only 7PM to middnight ends in 30th July 2015</span>
            <span class="btn-close"></span>
        </div>
    </div>-->
    <!-- HEADER -->
    <div id="header" class="header">
        @await Html.PartialAsync("_LoginPartial")
        <!--/.top-header -->
        <!-- MAIN HEADER -->
        <div class="container main-header">
            <div class="row">
                <div class="col-xs-12 col-sm-3 logo">
                    <a href="/"><img alt="Gicco Store" src="~/themes/GiccoStore/images/gicco.png" /></a>
                </div>
                @await Component.InvokeAsync("SearchForm")

                @await Component.InvokeAsync("CartBadge", new { includeListItem = true })

            </div>

        </div>
        <!-- END MANIN HEADER -->
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" id="box-vertical-megamenus" style="position: relative">
                        <div class="box-vertical-megamenus">
                            <h4 class="title">
                                <span class="title-menu">@Localizer["Categories"]</span>
                                <span class="btn-open-mobile @(Context.Request.Path == "/" ? "home-page" : "")  pull-right">
                                    <i class="fa fa-bars"></i>
                                </span>
                            </h4>
                            <div class="vertical-menu-content @(Context.Request.Path == "/" ? "is-home" : "hide") ">
                                <ul class="vertical-menu-list">
                                    @await Component.InvokeAsync("CategoryAside", new { getCate = "root" })
                                </ul>
                                @*<div class="all-category"><span class="open-cate">All Categories</span></div>*@
                            </div>

                        </div>
                    </div>
                    <div id="main-menu" class="col-sm-9 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="/">@Localizer["Home"]</a></li>
                                        @await Component.InvokeAsync("CategoryMenu")
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- userinfo on top-->
                <div id="form-search-opntop">
                </div>
                <!-- userinfo on top-->
                <div id="user-info-opntop">
                </div>
                <!-- CART ICON ON MMENU -->
                <div id="shopping-cart-box-ontop">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="shopping-cart-box-ontop-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- RENDER BODY -->
    @RenderBody()
    <!-- RENDER BODY -->
    <div id="shopModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="productOverview" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-padding">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <most-viewed-products></most-viewed-products>
                    <div id="address-box">
                        <a href="/"><img src="~/themes/GiccoStore/images/gicco.png" alt="Gicco Store" /></a>
                        <div id="address-list">
                            <div class="tit-name">@Localizer["Address"]:</div>
                            <div class="tit-contain">33 Xo Viet Nghe Tinh Street, Hai Chau Dist., Da Nang, VietNam.</div>
                            <div class="tit-name">@Localizer["Phone"]:</div>
                            <div class="tit-contain">+84 352 130 546</div>
                            <div class="tit-name">Email:</div>
                            <div class="tit-contain">giccoteam@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="introduce-title">@Localizer["Company"]</div>
                            <ul id="introduce-company" class="introduce-list">
                                <vc:menu menu-id="2"></vc:menu>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="introduce-title">@Localizer["Support"]</div>
                            <ul id="introduce-support" class="introduce-list">
                                <vc:menu menu-id="1"></vc:menu>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="introduce-title">@Localizer["Let's Socialize"]</div>
                            <div class="social-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div id="contact-box">
                        <div class="introduce-title">@Localizer["Newsletter"]</div>
                        <div class="input-group" id="mail-box">
                            <input type="text" placeholder="@Localizer["Your Email Address"]" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">OK</button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="introduce-title">@Localizer["Download App"]</div>
                        <div class="social-link">
                            <a href="#"><i style="background-color: #ccc;" class="fa fa-apple"></i></a>
                            <a href="#"><i style="background-color: #ccc;" class="fa fa-android"></i></a>
                        </div>
                    </div>

                </div>
            </div><!-- /#introduce-box -->
            <hr />
            <!-- #trademark-text-box -->
            <div id="trademark-text-box" class="row mt-10">
                <div class="col-sm-12">
                    <ul id="trademark-search-list" class="trademark-list">
                        <li class="trademark-text-tit">@Localizer["Most Searched"]:</li>
                        @await Component.InvokeAsync("MostSearch")
                    </ul>
                </div>
            </div><!-- /#trademark-text-box -->
            <div id="footer-menu-box">
                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "vi-VN")
                {
                    <p class="text-center">&#169; 2018 Bản quyền thuộc về Gicco Store.</p>
                }
                else
                {
                    <p class="text-center">Copyrights &#169; 2018 Gicco Store. All Rights Reserved.</p>

                }
            </div><!-- /#footer-menu-box -->
        </div>
    </footer>
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
    <!-- Script-->
    <script>
            window.giccoGlobalSetting = {};
            window.giccoGlobalSetting.lang = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script gicco-append-version="true" src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    @if (System.Globalization.CultureInfo.CurrentCulture.Name == "vi-VN")
    {
        <script gicco-append-version="true" src="~/lib/bootstrap-star-rating/js/locales/vi-vn.js"></script>
    }
    <script gicco-append-version="true" src="~/themes/GiccoStore/js/bootstrap-dropdownhover.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/fancyBox/jquery.fancybox.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/smoothproducts/js/smoothproducts.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery.countdown/jquery.countdown.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/themes/GiccoStore/js/jquery.actual.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/themes/GiccoStore/js/theme-script.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/themes/GiccoStore/js/add-to-cart.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/modules/core/main.js"></script>
    <script gicco-append-version="true" src="~/modules/productcomparison/product-comparison.js"></script>
    <script gicco-append-version="true" src="~/themes/GiccoStore/js/product-overview.js"></script>
    <script gicco-append-version="true" src="~/modules/wishlist/wishlist.js"></script>

    @RenderSection("scripts", required: false)


    @await Html.PartialAsync("_AnalyticsScript")

</body>
</html>
