@using System.Globalization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
    <link gicco-append-version="true" rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/jquery.bxslider/jquery.bxslider.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/owl.carousel/owl.carousel.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/lib/jquery-ui/jquery-ui.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/animate.css" />
    <link gicco-append-version="true" href="~/themes/GiccoStore/css/bootstrap-dropdownhover.min.css" rel="stylesheet" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/reset.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/style.css" />
    <link gicco-append-version="true" rel="stylesheet" type="text/css" href="~/themes/GiccoStore/css/responsive.css" />

    <title>@ViewData["Title"] - Gicco</title>
    @RenderSection("additionalMeta", false)
    @RenderSection("head", required: false)
    <script gicco-append-version="true" src="~/lib/angular/angular.js"></script>
    <script gicco-append-version="true" src="~/modules/shoppingcart/shoppingcart-list.js"></script>
    <script gicco-append-version="true" src="~/modules/shoppingcart/shoppingcart-service.js"></script>
</head>
<body class="home" ng-app="gicco.shoppingCart" ng-controller="shoppingCartListCtrl as vm" ng-cloak>
    <!-- TOP BANNER -->
    <!--<div id="top-banner" class="top-banner">
        <div class="bg-overlay"></div>
        <div class="container">
            <h1>Special Offer!</h1>
            <h2>Additional 40% OFF For Men & Women Clothings</h2>
            <span>This offer is for online only 7PM to middnight ends in 30th July 2015</span>
            <span class="btn-close"></span>
        </div>
    </div>-->
    <!-- HEADER -->
    <div id="header" class="header">
        @await Html.PartialAsync("_LoginPartial")
        <!--/.top-header -->
        <!-- MAIN HEADER -->
        <div class="container main-header">
            <div class="row">
                <div class="col-xs-12 col-sm-3 logo">
                    <a href="/"><img alt="Gicco Store" src="~/themes/GiccoStore/images/gicco.png" /></a>
                </div>
                @await Component.InvokeAsync("SearchForm")

                @await Component.InvokeAsync("CartBadge", new { includeListItem = true })

            </div>

        </div>
        <!-- END MANIN HEADER -->
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" id="box-vertical-megamenus" style="position: relative">
                        <div class="box-vertical-megamenus">
                            <h4 class="title">
                                <span class="title-menu">Categories</span>
                                <span class="btn-open-mobile @(Context.Request.Path == "/" ? "home-page" : "")  pull-right">
                                    <i class="fa fa-bars"></i>
                                </span>
                            </h4>
                            <div class="vertical-menu-content @(Context.Request.Path == "/" ? "is-home" : "hide") ">
                                <ul class="vertical-menu-list">
                                    @await Component.InvokeAsync("CategoryAside", new { getCate = "root" })
                                </ul>
                                <div class="all-category"><span class="open-cate">All Categories</span></div>
                            </div>

                        </div>
                    </div>
                    <div id="main-menu" class="col-sm-9 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="/">@Localizer["Home"]</a></li>
                                        @await Component.InvokeAsync("CategoryMenu")
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- userinfo on top-->
                <div id="form-search-opntop">
                </div>
                <!-- userinfo on top-->
                <div id="user-info-opntop">
                </div>
                <!-- CART ICON ON MMENU -->
                <div id="shopping-cart-box-ontop">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="shopping-cart-box-ontop-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- RENDER BODY -->
    @RenderBody()
    <!-- RENDER BODY -->
    <div id="shopModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="productOverview" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-padding">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <div id="address-box">
                        <a href="#"><img src="~/themes/GiccoStore/data/introduce-logo.png" alt="" /></a>
                        <div id="address-list">
                            <div class="tit-name">Address:</div>
                            <div class="tit-contain">Example Street 68, Mahattan, New York, USA.</div>
                            <div class="tit-name">Phone:</div>
                            <div class="tit-contain">+00 123 456 789</div>
                            <div class="tit-name">Email:</div>
                            <div class="tit-contain">support@business.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="introduce-title">Company</div>
                            <ul id="introduce-company" class="introduce-list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="introduce-title">My Account</div>
                            <ul id="introduce-Account" class="introduce-list">
                                <li><a href="#">My Order</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">My Credit Slip</a></li>
                                <li><a href="#">My Addresses</a></li>
                                <li><a href="#">My Personal In</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="introduce-title">Support</div>
                            <ul id="introduce-support" class="introduce-list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="contact-box">
                        <div class="introduce-title">Newsletter</div>
                        <div class="input-group" id="mail-box">
                            <input type="text" placeholder="Your Email Address" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">OK</button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="introduce-title">Let's Socialize</div>
                        <div class="social-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-vk"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>

                </div>
            </div><!-- /#introduce-box -->
            <!-- #trademark-box -->
            <div id="trademark-box" class="row">
                <div class="col-sm-12">
                    <ul id="trademark-list">
                        <li id="payment-methods">Accepted Payment Methods</li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-ups.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-qiwi.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-wu.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-cn.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-visa.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-mc.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-ems.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-dhl.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-fe.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/themes/GiccoStore/data/trademark-wm.jpg" alt="ups" /></a>
                        </li>
                    </ul>
                </div>
            </div> <!-- /#trademark-box -->
            <!-- #trademark-text-box -->
            <div id="trademark-text-box" class="row">
                <div class="col-sm-12">
                    <ul id="trademark-search-list" class="trademark-list">
                        <li class="trademark-text-tit">HOT SEARCHED KEYWORDS:</li>
                        <li><a href="#">Xiaomio Mi3</a></li>
                        <li><a href="#">Digiflipo Pro XT 712 Tablet</a></li>
                        <li><a href="#">Mi 3 Phones</a></li>
                        <li><a href="#">Iphoneo 6 Plus</a></li>
                        <li><a href="#">Women's Messenger Bags</a></li>
                        <li><a href="#">Wallets</a></li>
                        <li><a href="#">Women's Clutches</a></li>
                        <li><a href="#">Backpacks Totes</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-tv-list" class="trademark-list">
                        <li class="trademark-text-tit">TVS:</li>
                        <li><a href="#">Sonyo TV</a></li>
                        <li><a href="#">Samsing TV</a></li>
                        <li><a href="#">LGG TV</a></li>
                        <li><a href="#">Onidai TV</a></li>
                        <li><a href="#">Toshibao TV</a></li>
                        <li><a href="#">Philipsi TV</a></li>
                        <li><a href="#">Micromaxo TV</a></li>
                        <li><a href="#">LED TV</a></li>
                        <li><a href="#">LCD TV</a></li>
                        <li><a href="#">Plasma TV</a></li>
                        <li><a href="#">3D TV</a></li>
                        <li><a href="#">Smart TV</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-mobile-list" class="trademark-list">
                        <li class="trademark-text-tit">MOBILES:</li>
                        <li><a href="#">Moto E</a></li>
                        <li><a href="#">Samsing Mobile</a></li>
                        <li><a href="#">Micromaxi Mobile</a></li>
                        <li><a href="#">Nokian Mobile</a></li>
                        <li><a href="#">HTCi Mobile</a></li>
                        <li><a href="#">Sonyo Mobile</a></li>
                        <li><a href="#">Appleo Mobile</a></li>
                        <li><a href="#">LGG Mobile</a></li>
                        <li><a href="#">Karbonni Mobile</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-laptop-list" class="trademark-list">
                        <li class="trademark-text-tit">LAPTOPS::</li>
                        <li><a href="#">Appleo Laptop</a></li>
                        <li><a href="#">Acer Laptop</a></li>
                        <li><a href="#">Samsing Laptop</a></li>
                        <li><a href="#">Lenov Laptop</a></li>
                        <li><a href="#">Sonyo Laptop</a></li>
                        <li><a href="#">Delli Laptop</a></li>
                        <li><a href="#">Asuso Laptop</a></li>
                        <li><a href="#">Toshibao Laptop</a></li>
                        <li><a href="#">LGG Laptop</a></li>
                        <li><a href="#">HPo Laptop</a></li>
                        <li><a href="#">Notebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-watches-list" class="trademark-list">
                        <li class="trademark-text-tit">WATCHES:</li>
                        <li><a href="#">FCUKo Watches</a></li>
                        <li><a href="#">Titan Watches</a></li>
                        <li><a href="#">Casioo Watches</a></li>
                        <li><a href="#">Fastrack Watches</a></li>
                        <li><a href="#">Timexi Watches</a></li>
                        <li><a href="#">Fossili Watches</a></li>
                        <li><a href="#">Dieselo Watches</a></li>
                        <li><a href="#">Toshibao Laptop</a></li>
                        <li><a href="#">Luxury Watches</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul id="trademark-shoes-list" class="trademark-list">
                        <li class="trademark-text-tit">FOOTWEAR:</li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Casual Shoes</a></li>
                        <li><a href="#">Sports Shoes</a></li>
                        <li><a href="#">Adidasi Shoes</a></li>
                        <li><a href="#">Gas Shoes</a></li>
                        <li><a href="#">Pumai Shoes</a></li>
                        <li><a href="#">Reeboki Shoes</a></li>
                        <li><a href="#">Woodlandi Shoes</a></li>
                        <li><a href="#">Red tape Shoes</a></li>
                        <li><a href="#">Nikeo Shoes</a></li>
                    </ul>
                </div>
            </div><!-- /#trademark-text-box -->
            <div id="footer-menu-box">
                <div class="col-sm-12">
                    <ul class="footer-menu-list">
                        <li><a href="#">Company Info - Partnerships</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="footer-menu-list">
                        <li><a href="#">Online Shopping</a></li>
                        <li><a href="#">Promotions</a></li>
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="footer-menu-list">
                        <li><a href="#">Most Populars</a></li>
                        <li><a href="#">Best Sellers</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Special Products</a></li>
                        <li><a href="#">Manufacturers</a></li>
                        <li><a href="#">Our Stores</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Payments</a></li>
                        <li><a href="#">Warantee</a></li>
                        <li><a href="#">Refunds</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Discount</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="footer-menu-list">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Payments</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Refunds</a></li>
                        <li><a href="#">Warrantee</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <p class="text-center">Copyrights &#169; 2015 KuteShop. All Rights Reserved. Designed by KuteThemes.com</p>
            </div><!-- /#footer-menu-box -->
        </div>
    </footer>
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
    <!-- Script-->
    <script>
            window.giccoGlobalSetting = {};
            window.giccoGlobalSetting.lang = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery/jquery.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script gicco-append-version="true" src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    @if (System.Globalization.CultureInfo.CurrentCulture.Name == "vi-VN")
    {
        <script gicco-append-version="true" src="~/lib/bootstrap-star-rating/js/locales/vi-vn.js"></script>
    }
    <script gicco-append-version="true" src="~/themes/GiccoStore/js/bootstrap-dropdownhover.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery.countdown/jquery.countdown.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/themes/GiccoStore/js/jquery.actual.min.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/themes/GiccoStore/js/theme-script.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/themes/GiccoStore/js/add-to-cart.js"></script>
    <script gicco-append-version="true" type="text/javascript" src="~/modules/core/main.js"></script>
    <script gicco-append-version="true" src="~/modules/productcomparison/product-comparison.js"></script>
    <script gicco-append-version="true" src="~/themes/GiccoStore/js/product-overview.js"></script>
    <script gicco-append-version="true" src="~/modules/wishlist/wishlist.js"></script>

    @RenderSection("scripts", required: false)


    @await Html.PartialAsync("_AnalyticsScript")

</body>
</html>
