@using Gicco.Module.Core.Models
@using Gicco.Module.Core.Extensions

@inject IWorkContext WorkContext
@inject SignInManager<User> SignInManager

<div class="top-header">
    <div class="container">
        <div class="nav-top-links">
            <a class="first-item" href="#"><img alt="phone" src="~/themes/GiccoStore/images/phone.png" />+84 352 130 546</a>
            <a href="mailto:giccoteam@gmail.com"><img alt="email" src="~/themes/GiccoStore/images/email.png" />@Localizer["Contact us today"]!</a>
        </div>        

        @await Html.PartialAsync("_SelectLanguagePartial")

        <div id="user-info-top" class="user-info pull-right">
            <div class="dropdown">
                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="myAccount">@Localizer["My Account"]</span></a>
                <ul class="dropdown-menu mega_dropdown" role="menu">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-area="Core" asp-controller="Manage" asp-action="Index" title="@Localizer["Manage"]">@Localizer["Hello {0}!", (await WorkContext.GetCurrentUser()).FullName]</a>
                        </li>
                        @if (User.IsInRole("admin") || User.IsInRole("vendor"))
                        {
                            <li>
                                <a asp-area="Core" asp-controller="HomeAdmin" asp-action="Index">@Localizer["Dashboard"]</a>
                            </li>
                        }
                        <li><a asp-area="ProductComparison" asp-controller="ComparingProduct" asp-action="Index">@Localizer["Compare"]</a></li>
                        <li><a asp-area="WishList" asp-controller="WishList" asp-action="PrivateList">@Localizer["Wishlists"]</a></li>
                        <li>
                            <form style="padding-left: 10px;" asp-area="Core" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="">
                                <button type="submit" class="logoff flex-c-m trans-04 p-lr-25">@Localizer["Log off"]</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="Core" asp-controller="Account"
                               asp-action="Login">@Localizer["Log in"]</a>
                        </li>
                        <li>
                            <a asp-area="Core"
                               asp-controller="Account"
                               asp-action="Register">@Localizer["Register"]</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
