@model IEnumerable<Gicco.Module.Catalog.ViewModels.CategoryMenuItem>

@inject IViewLocalizer Localizer
@foreach (var item in Model)
{
    if (item.ChildItems.Any())
    {
        <li class="dropdown">
            <a href="/@item.Slug" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle">@item.Name</a>
            <ul class="dropdown-menu container-fluid">
                <li class="block-container">
                    <ul class="block">
                        @foreach (var childItem in item.ChildItems)
                        {
                            if (childItem.ChildItems.Count > 0)
                            {
                                <li class="link_container dropdown hasChild">
                                    <a href="/@childItem.Slug">@childItem.Name&nbsp;</a>
                                    <ul class="block dropdown-menu dropdownhover-right">
                                        @foreach (var ci in childItem.ChildItems)
                                        {
                                            <li class="link_container">
                                                <a href="/@ci.Slug">@ci.Name&nbsp;</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="link_container">
                                    <a href="/@childItem.Slug">@childItem.Name&nbsp;</a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li><a href="/@item.Slug">@item.Name</a></li>
    }
}
